<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NobHubWeb</title>
    <link rel="shortcut icon" href="~/global_assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/global_assets/images/favicon.ico" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/nobhub_styles.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js"></script>
    @*<script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>*@
    <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/global_assets/js/plugins/ui/perfect_scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/global_assets/js/demo_pages/layout_fixed_sidebar_custom.js"></script>    
    <!-- /theme JS files -->

</head>
<body class="navbar-top">

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="navbar-brand">
            <a href="#" class="d-inline-block">
                <img src="../../../../global_assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            @*<span class="navbar-text ml-md-3 mr-md-auto">
                    <span class="badge bg-success"></span>
                </span>*@
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" alt="">*@
                        <i class="icon-user"></i>
                        <span>User Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @*<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                            <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                            <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>*@
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item">
                            <a href="@Url.Action("home", "BusinessCards")" class="nav-link" title="Home"><i class="icon-home4"></i><span>Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RegisteredUsers", "BusinessCards")" class="nav-link" title="Users"><i class="icon-color-sampler"></i> <span>Users</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CardTemplates", "BusinessCards")" class="nav-link" title="Default Cards"><i class="icon-stack"></i> <span>Card Templates</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("PendingCards", "BusinessCards")" class="nav-link" title="Pending Cards"><i class="icon-copy"></i> <span>Pending Cards</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("PublishedCards", "BusinessCards")" class="nav-link" title="Published Cards"><i class="icon-copy"></i> <span>Published Cards</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("LookUps","BusinessCards")" class="nav-link" title="Lookups"><i class="icon-list-unordered"></i><span>Lookups</span></a>
                        </li>
                        <!-- /main -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="page-header page-header-light">
                <div class="page-header-content header-elements-md-inline pl-2">
                    <div class="page-title p-2">
                        <h4><span class="font-weight-semibold">@ViewBag.Title1</span>@ViewBag.Title2</h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!-- Content area -->
            <div class="content">

                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>
            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">&copy; Copyright NobHub - 2019</span>
                </div>
            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NobHubWeb</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
        </header>*@

    @*<div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    @*<footer class="border-top footer text-muted">
            <div class="container">
                    &copy; 2019 - NobHubWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
